<h1 class="page-header">All Products List</h1>
<br>
<div>
    <% for (var i = 0; i < products.length; i++) { %>
        <div><a class="link" href="/products/<%= products[i]._id %>"><%= products[i].name %></a></div>
        <div>Product ID: <%= products[i]._id %></div> 
        <div>Category Name: <%= products[i].category.name %></div> 
        <div>Category ID: <%= products[i].category._id %></div> 
    <% } %> 

    <div class="page-row">
        <% if (pages > 0) { %>
            <ul class="pagination text-center">
                <% if (current === '?page=1') { %>
                    <li class=""><a>First</a></li>
                <% } else { %>
                    <li><a href="/?page=1">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i === current) { %>
                        <li class="active"><a><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current === pages) { %>
                    <li class="disabled"><a>Last</a></li>
                <% } else { %>
                    <li><a href="/?page=<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
    </div>
</div>