<h2 class="page-header"><%= product.name %></h2>
<div>
    <h4>Product ID: <%= product.id %></h4>
</div>
<div>
    <h4>Category Name: <%= product.category.name  %></h4>
</div>
<div>
    <h4>Category ID: <%= product.category.id %></h4>
</div>

<div class="form-row form-row-end btn-row">
    <a class="btn btn-primary" href="/products/<%= product._id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/products/${product._id}` }) %> 
    <a class="btn btn-primary" href="/categories/<%= product.category._id %>">View Category</a>
</div>


